{% extends '/layouts/base.twig' %} {% block parent_css %}tc-blog-page{% endblock %} {% block content %}

<main x-data="press({{var.data.cate ?? ''}})">
    <!-- ====== start nav search ====== -->
    <template x-if="loaded">
        <div class="tc-blog-nav-search">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="info">
                            <template x-if="data.cate.current.value !== 'all'">
                                <h2 x-text="data.cate.current.name"></h2>
                            </template>
                            <div class="links">
                                <template x-for="cate in data.cate.list">
                                    <a :href="cate.url" x-text="cate.name">{{ cate.name }}</a>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <!-- ====== end nav search ====== -->

    <section class="tc-popular-posts-blog">
        <div class="container">
            <div class="content-widgets pb-50">
                <div class="row">
                    <template x-if="loaded">
                        <div class="col-lg-12">
                            <div class="tc-post-list-style3">
                                <div class="items">
                                    <template x-for="press in data.rows">
                                        <div
                                            class="item"
                                            :class="{'mt-30 p-30 bg-gray1 border-bottom-0': press.to_top > 0}"
                                        >
                                            <div class="row">
                                                <template x-if="press.cover != null">
                                                    <div class="col-lg-5">
                                                        <div class="img th-230 img-cover overflow-hidden">
                                                            <img :src="press.cover" :alt="press.title" />
                                                        </div>
                                                    </div>
                                                </template>

                                                <div
                                                    :class="{'col-lg-7': press.cover != null, 'col-lg-12': press.cover == null}"
                                                >
                                                    <div class="content mt-20 mt-lg-0">
                                                        <template x-if="press.category">
                                                            <a :href="press.category.url" x-text="press.category.name" class="color-999 fsz-13px text-uppercase mb-10"></a>
                                                        </template>

                                                        <h4 class="title mb-15">
                                                            <a :href="press.url" x-text="press.title"></a>
                                                        </h4>
                                                        <div class="text color-666" x-text="press.intro"></div>
                                                        <div class="meta-bot fsz-13px color-666">
                                                            <ul class="d-flex">
                                                                <li class="date me-5">
                                                                    <i class="fa fa-calendar me-2"></i>
                                                                    <span x-text="press.publish_ts"></span>
                                                                </li>
                                                                <li class="author me-5">
                                                                    <i class="fa fa-user me-2"></i> <span>by</span>
                                                                    <template x-if="press.author">
                                                                        <template x-for="author in press.author">
                                                                            <span
                                                                                class="color-000"
                                                                                x-text="author.name"
                                                                            ></span>
                                                                        </template>
                                                                    </template>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </template>
                                </div>
                            </div>

                            <div
                                class="pagination style-1 color-main justify-content-center mt-60"
                                x-data="paginate(data, refreshCallback())"
                            >
                                <template x-if="meta.pos > 0">
                                    <a href="#" @click.prevent="changePos(meta.pos - 1)">
                                        <span class="text text-uppercase">
                                            Previous <i class="fa fa-angle-right"></i>
                                        </span>
                                    </a>
                                </template>

                                <template x-for="i in next()">
                                    <a
                                        href="#"
                                        @click.prevent="changePos(i - 1)"
                                        :class="{'disabled': i - 1 == meta.pos || i === '...', 'active': i - 1 == meta.pos, 'static': i === '...'}"
                                    >
                                        <span x-text="i">1</span>
                                    </a>
                                </template>

                                <template x-if="meta.pos + 1 != meta.count">
                                    <a href="#" @click.prevent="changePos(meta.pos + 1)">
                                        <span class="text text-uppercase">
                                            Next <i class="fa fa-angle-right"></i>
                                        </span>
                                    </a>
                                </template>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
