<!doctype html>
<html class="no-js" lang="en">
	<head>
		{% if var.trackingData %} {% set first = var.trackingData|first %}
		<script async src="https://www.googletagmanager.com/gtag/js?id={{first.measurement_id}}"></script>
		{% for data in var.trackingData %}
		<meta property="t_code_{{ loop.index }}" content="{{ data.measurement_id }}" />
		{% endfor %} {% endif %} {% if page.recaptcha %}
		<meta property="t_key" content="{{ page.recaptcha.site_key }}" />
		{% endif %} {% block meta %}{% include '@layouts/meta.twig' %}{% endblock %}
	</head>

	<body class="home-style1 {% block parent_css %}{% endblock %}">
		{% block nav %}{% include '@layouts/nav.twig' %}{% endblock %} {% block content %}{% endblock %} {% block footer
		%} {% include '@layouts/footer.twig' %}{% endblock %} {% include '@layouts/scripts.twig' %}

		<div x-data="toast" x-bind="event">
			<template x-if="toasts.length > 0">
				<div class="toast-container position-fixed p-3 top-50 start-50 translate-middle">
					<template x-for="toast in toasts">
						<div class="toast border-0 fade show">
							<div class="toast-header border-0">
								<i class="las la-info-circle me-2"></i>
								<strong class="me-auto" x-text="toast.title"></strong>
							</div>
							<template x-if="toast.body">
								<div class="toast-body" x-html="toast.body"></div>
							</template>
						</div>
					</template>
				</div>
			</template>
		</div>
	</body>
</html>
